venv/
.venv/
env/

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints
*/.ipynb_checkpoints/*
.env

backend/data/similarity.pkl
backend/data/poster_cache.json
backend/data/movies_cleaned.csv


.vscode/
.idea/
.log